## Análisis de datos con Pandas
### Automóviles por año y origen de fabricación

Python FE | Fuerzas básicas Oct 2024 | Alfredo Olguin

In [3]:
import pandas as pd

df = pd.read_csv("Downloads/cars.csv") # https://github.com/alfredo203/python_fe_basicos/blob/main/data/cars.csv
df

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year,brand
0,14.0,8,350,165,4209,12,1972,US.
1,31.9,4,89,71,1925,14,1980,Europe.
2,17.0,8,302,140,3449,11,1971,US.
3,15.0,8,400,150,3761,10,1971,US.
4,30.5,4,98,63,2051,17,1978,US.
...,...,...,...,...,...,...,...,...
256,17.0,8,305,130,3840,15,1980,US.
257,36.1,4,91,60,1800,16,1979,Japan.
258,22.0,6,232,112,2835,15,1983,US.
259,18.0,6,232,100,3288,16,1972,US.
260,22.0,6,250,105,3353,15,1977,US.

# 1. Obtener los vehículos más eficientes por marca
# 2. Obtener los vehículos con mejor relación peso potencia
# 3. ¿Qué características tienen vehículos más veloces?
# 4. Año en que se fabricaron más autos en Japón y Europa.